@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-[#000000] via-[#0e0c0c] to-[#000000];
}

.color {
  color: #1d1f23;
  h1: #151618;
  h2: #f6cd46;
}
.hari {
  color: #e1b72e;
}
